<%- include('../partials/userhomeheader.ejs') -%>
<!-- mini cart start -->

<br /><br /><br /><br />
<div class="breadcrumb-area bg-dark">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h2 style="font-weight: bold" class="text-danger">Your Cart</h2>
    </div>
  </div>
</div>
<div class="cart-main-area pt-115 pb-120">
  <div class="container">
    <% if(!empty){ %>
    <h3 class="cart-page-title">Your cart items</h3>
    <%}%>
    <div class="row">
      <div class="col-12">
        <div class="table-content table-responsive cart-table-content">
          <% if(!empty){ %>
          <table>
            <thead>
              <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Until Price</th>
                <th>Qty</th>
                <th>Subtotal</th>
                <th>action</th>
              </tr>
            </thead>

            <tbody>
              <%for(let key of cartProducts.items){%>
              <tr>
                <td class="product-thumbnail">
                  <a href="#"
                    ><img
                      src="/productImages/<%=key.productId.image %>"
                      width="100vw"
                      height="100vh"
                      alt=""
                  /></a>
                </td>
                <td class="product-name">
                  <a href="#"><%=key.productId.product%></a>
                </td>
                <td class="product-price-cart">
                  <span class="amount">₹.<%=key.productId.price %></span>
                </td>
                <td class="product-quantity pro-details-quality">
                  <form action="/edit-quantity?id=<%= key._id %>" method="post">
                    <div class="cart-plus-minus">
                      <input
                        class="cart-plus-minus-box"
                        type="number"
                        name="qty"
                        value="<%=key.qty%>"
                      />
                      <br /><br />
                      <button class="bg-dark text-white" type="submit">
                        Update
                      </button>
                    </div>
                  </form>
                </td>
                <td class="product-subtotal">
                  ₹. <%=key.productId.price*key.qty%>
                </td>
                <td class="product-remove">
                  <a
                    style="
                      color: red;
                      font-size: 14px;
                      border-bottom: solid 1px red;
                    "
                    href="/delete-cart?id=<%=key.productId._id %>"
                  >
                    Remove</a
                  >

                  <!-- <i class="icon_close"></i> -->
                </td>
              </tr>
              <%}%>
            </tbody>
          </table>
          
        <%}else {%>

          <h2 class="text-center" style=" font-weight: bold">
            YOUR CART IS EMPTY
          </h2>
          <h1 class="text-center">
            <i
              class="fa-solid fa-face-frown text-warning"
              style="font-size: 60px"
            ></i>
          </h1>
          <br />
          <div class="text-center">
            <a href="/product-store"
              ><button
                class="btn-dark text-white"
                style="
                  width: 150px;
                  height: 60px;
                  border-radius: 60px;
                  font-size: 20px;
                "
              >
                Explore
              </button></a
            >
          </div>

          <%} %>
          <!-- <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="assets/images/cart/cart-2.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">Norda Simple Backpack</a></td>
                                            <td class="product-price-cart"><span class="amount">$150.00</span></td>
                                            <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                </div>
                                            </td>
                                            <td class="product-subtotal">$150.00</td>
                                            <td class="product-remove">
                                                <a href="#"><i class="icon_close"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="assets/images/cart/cart-1.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">Simple Black T-Shirt </a></td>
                                            <td class="product-price-cart"><span class="amount">$170.00</span></td>
                                            <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                                </div>
                                            </td>
                                            <td class="product-subtotal">$170.00</td>
                                            <td class="product-remove">
                                                <a href="#"><i class="icon_close"></i></a>
                                            </td>
                                        </tr> -->
        </div>
        <% if(!empty){ %>
        <div class="row">
          <div class="col-lg-12">
            <div class="cart-shiping-update-wrapper">
                
              <div class="cart-shiping-update">
                <a href="/">Continue Shopping</a>
              </div>
              
              <!-- <div class="cart-clear">
                                            <button type="submit">Update Cart</button>
                                            <a href="#">Clear Cart</a>
                                        </div> -->
            </div>
          </div>
        </div>
        

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="discount-code-wrapper">
              <div class="title-wrap">
                <h4 class="cart-bottom-title section-bg-gray">
                  Use Coupon Code
                </h4>
              </div>
              <div class="discount-code">
                <p>Enter your coupon code if you have one.</p>
                <form action="/apply-coupon" method="post">
                  <input type="text" required="" name="coupon" value="<%=code%>" />
                  <% if( appliedCoupon){%>
                  <br />
                  <p style="color: red; font-weight: bold; font-size: 20px">
                    This coupon is invalid!
                  </p>
                  <%} %>
                  <div class="d-flex ">
                  <button class="cart-btn-2 m-2" type="submit">Apply Coupon</button>
                  
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="grand-totall">
              <div class="title-wrap">
                <h4 class="cart-bottom-title section-bg-gary-cart">
                  Cart Total
                </h4>
              </div>
              <h5>Total products <span> <%=cartProducts.totalqty %> </span></h5>

              <h4 class="grand-totall-title">
                Grand Total<span> ₹.<%=cartProducts.totalprice %> </span>
              </h4>
              <a href="/checkout">Proceed to Checkout</a>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/userfooter.ejs') -%>
