
<% if(isLoggedIn){%>
<%- include('../partials/userhomeheader.ejs') -%>
<% } 
else { %>
	<%- include('../partials/userlandingheader.ejs') -%>
<% } %>


        <!-- mini cart start -->
        
        <!-- Mobile menu start -->
        
        <% if(banner.length>0){ for(let i=1;i<=banner.length;i++){%>
        <div class="slider-area bg-gray">
            <div class="hero-slider-active-1 hero-slider-pt-1 nav-style-1 dot-style-1">
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="hero-slider-content-1 hero-slider-content-1-pt-1 slider-animated-1">
                                    <h4 class="animated"><%=banner[i-1].btitle %></h4>
                                    <h1 class="animated">Fashionable <br>T-shirts</h1>
                                    <p class="animated">Discover our collection with T shirts. Less is more never out trend.</p>
                                    <div class="btn-style-1">
                                        <a class="animated btn-1-padding-1" href="product-details.html">Explore Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-3">
                                <div class="hero-slider-img-1 slider-animated-1">
                                    <img class="animated" src="/productImages/<%=banner[i-1].bimage %>" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="hero-slider-content-1 hero-slider-content-1-pt-1 slider-animated-1">
                                    <h4 class="animated"><%=banner[i-1].btitle %></h4>
                                    <h1 class="animated">Explore <br>ne fashions</h1>
                                    <p class="animated">Discover our collection with new typography printed tshirts. Less is more never out trend.</p>
                                    <div class="btn-style-1">
                                        <a class="animated btn-1-padding-1" href="product-details.html">Explore Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="hero-slider-img-1 slider-animated-1">
                                    <img class="animated" src="/productImages/<%=banner[i-1].bimage %>"  alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}
    }%>
        <div class="service-area">
            <div class="container">
                <div class="service-wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-cursor"></i>
                                </div>
                                <div class="service-content">
                                    <h3>Free Shipping</h3>
                                    <span>Orders over $100</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-reload"></i>
                                </div>
                                <div class="service-content">
                                    <h3>Free Returns</h3>
                                    <span>Within 30 days</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-lock"></i>
                                </div>
                                <div class="service-content">
                                    <h3>100% Secure</h3>
                                    <span>Payment Online</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="single-service-wrap mb-30">
                                <div class="service-icon">
                                    <i class="icon-tag"></i>
                                </div>
                                <div class="service-content">
                                    <h3>Best Price</h3>
                                    <span>Guaranteed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us-area pt-85">
            <div class="container">
                <div class="border-bottom-1 about-content-pb">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="about-us-logo">
                                <img src="assets/images/about/logo.png" alt="logo">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="about-us-content">
                                <h3>Introduce</h3>
                                <p>Norda store is a business concept is to offer fashion and quality at the best price. It has since it was founded in 2018 grown into one of the best WooCommerce Fashion Theme. The content of this site is copyright-protected and is the property of David Moye Creative.</p>
                                <div class="signature">
                                    <h2>David Moye</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area section-padding-1 pt-115 pb-75">
            <div class="container">
                <div class="section-title-tab-wrap mb-45">
                    <div class="section-title">
                        <h2>Featured Products</h2>
                    </div>
                    
                </div>
            </div>
            <div  class="container-fluid" id="products">
                <div class="tab-content jump">
                    <div id="product-1" class="tab-pane active">
                       
                        <div class="row" >
                       <% if(product.length>0){

                        for(let i=1;i<=product.length;i++){%>
                            
                           
                            <div class="col-6 col-md-4" >
                                
                        
                                <div class="single-product-wrap mb-35 " style="border-radius: 12px;">
                                    
                                    
                                    <div class="product-img product-img-zoom mb-20">
                                        
                                        
                                        <a href="/view-product-details?id=<%=product[i-1]._id %>">
                                            <img src="/productImages/<%=product[i-1].image %>" alt="">
                                        </a>
                                        <div class="product-action-wrap">
                                            <div class="product-action-left">
                                                
                                                
                                                   <%if(isLoggedIn){%>
                                                    
                                                      
                                              <button onclick="addToCart('<%=product[i-1]._id %>')"><i class="icon-basket-loaded"></i>Add to Cart</button>
                                             
                                           
                                              
                                                   <%} else{ %>
                                                    <a href="/login"> <button ><i style="font-size: 30px;" class="icon-basket-loaded"></i>Add to Cart</button></a>
                                                  <% } %>
                                                
                                            </div>
                                            <!-- <div class="product-action-right tooltip-style">
                                                <button data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen icons"></i><span>Quick View</span></button>
                                                <button class="font-inc"><i class="icon-refresh"></i><span>Compare</span></button>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-content-left">
                                            <h4><a href="product-details.html"><%= product[i-1].product %></a></h4>
                                            <div class="product-price">
                                                <span> ₹.
                                                    <%= product[i-1].price %></span>
                                            </div>
                                        </div>
                                        <% if(isLoggedIn){%>
                                        
                                            <div class="product-content-right tooltip-style">
                            
                                                <button onclick="addToWishlist('<%=product[i-1]._id %>')" class="font-inc wishlist"><i style="font-size: 30px;" class="icon-heart"></i><span>Wishlist</span></button>
                                            </div>
                                            <%}
                                         else{%>
                                            <div class="product-content-right tooltip-style">
                            
                                                <a href="/login"><button class="font-inc"><i style="font-size: 30px;" class="icon-heart"></i><span>Wishlist</span></button></a>
                                            </div>
                                            <%}%>
                                    </div>
                                </div>
                            </div>
                           
                       <% }
                    }%>
                        </div>
                    </div>
                
                    
                </div>
                <div class="d-flex justify-content-center container ">
                    <% 
                    for(let j=1;j <= totalpages;j++){
                        %>
                    <a href="/?page=<%= j %>"><button id="pagenation"  type="submit"  class=" btn btn-dark text-white " style="border-radius: 40px; width: 40px;height: 40px;"> <%= j %> </button></a>
                        <%
                    }
                    %>
                </div>
            </div>
            </div>
            
           
        <br>
        <!-- <div class="banner-area pb-85">
            <div class="container">
                <div class="section-title mb-45">
                    <h2>Our Collections</h2>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="banner-wrap banner-mr-1 mb-30">
                            <div class="banner-img banner-img-zoom">
                                <a href="product-details.html"><img src="assets/images/banner/banner-1.jpg" alt=""></a>
                            </div>
                            <div class="banner-content-1">
                                <h2>Zara Pattern Boxed <br>Underwear</h2>
                                <p>Stretch, fresh-cool help you alway comfortable</p>
                                <div class="btn-style-1">
                                    <a class="animated btn-1-padding-2" href="product-details.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="banner-wrap  banner-ml-1 mb-30">
                            <div class="banner-img banner-img-zoom">
                                <a href="product-details.html"><img src="assets/images/banner/banner-2.jpg" alt=""></a>
                            </div>
                            <div class="banner-content-2">
                                <h2>Basic Color Caps</h2>
                                <p>Minimalist never cool, choose and make the simple great again!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="instagram-area">
            <div class="container">
                <div class="section-title-tag-wrap mb-45">
                    <div class="section-title">
                        <h2>Our Instagram</h2>
                    </div>
                    <div class="instagram-tag">
                        <span>#monkeylover</span>
                    </div>
                </div>
                <div class="instagram-wrap">
                    <div id="instafeed" data-limit="5" class="instagram-wrap-1"></div>
                </div>
            </div>
        </div>
        <div class="brand-logo-area pt-100 pb-100">
            <div class="container">
                <div class="brand-logo-wrap brand-logo-mrg">
                    <div class="single-brand-logo mb-10">
                        <img src="assets/images/brand-logo/brand-logo-1.png" alt="brand-logo">
                    </div>
                    <div class="single-brand-logo mb-10">
                        <img src="assets/images/brand-logo/brand-logo-2.png" alt="brand-logo">
                    </div>
                    <div class="single-brand-logo mb-10">
                        <img src="assets/images/brand-logo/brand-logo-3.png" alt="brand-logo">
                    </div>
                    <div class="single-brand-logo mb-10">
                        <img src="assets/images/brand-logo/brand-logo-4.png" alt="brand-logo">
                    </div>
                    <div class="single-brand-logo mb-10">
                        <img src="assets/images/brand-logo/brand-logo-5.png" alt="brand-logo">
                    </div>
                </div>
            </div>
        </div> -->
        
        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-12 col-sm-12">
                                <div class="tab-content quickview-big-img">
                                    <div id="pro-1" class="tab-pane fade show active">
                                        <img src="assets/images/product/product-1.jpg" alt="">
                                    </div>
                                    <div id="pro-2" class="tab-pane fade">
                                        <img src="assets/images/product/product-3.jpg" alt="">
                                    </div>
                                    <div id="pro-3" class="tab-pane fade">
                                        <img src="assets/images/product/product-6.jpg" alt="">
                                    </div>
                                    <div id="pro-4" class="tab-pane fade">
                                        <img src="assets/images/product/product-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="quickview-wrap mt-15">
                                    <div class="quickview-slide-active nav nav-style-6">
                                        <a class="active" data-bs-toggle="tab" href="#pro-1"><img src="assets/images/product/quickview-s1.jpg" alt=""></a>
                                        <a data-bs-toggle="tab" href="#pro-2"><img src="assets/images/product/quickview-s2.jpg" alt=""></a>
                                        <a data-bs-toggle="tab" href="#pro-3"><img src="assets/images/product/quickview-s3.jpg" alt=""></a>
                                        <a data-bs-toggle="tab" href="#pro-4"><img src="assets/images/product/quickview-s2.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6 col-12 col-sm-12">
                                <div class="product-details-content quickview-content">
                                    <h2>Simple Black T-Shirt</h2>
                                    <div class="product-ratting-review-wrap">
                                        <div class="product-ratting-digit-wrap">
                                            <div class="product-ratting">
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                            </div>
                                            <div class="product-digit">
                                                <span>5.0</span>
                                            </div>
                                        </div>
                                        <div class="product-review-order">
                                            <span>62 Reviews</span>
                                            <span>242 orders</span>
                                        </div>
                                    </div>
                                    <p>Seamlessly predominate enterprise metrics without performance based process improvements.</p>
                                    <div class="pro-details-price">
                                        <span class="new-price">$75.72</span>
                                        <span class="old-price">$95.72</span>
                                    </div>
                                    <div class="pro-details-color-wrap">
                                        <span>Color:</span>
                                        <div class="pro-details-color-content">
                                            <ul>
                                                <li><a class="dolly" href="#">dolly</a></li>
                                                <li><a class="white" href="#">white</a></li>
                                                <li><a class="azalea" href="#">azalea</a></li>
                                                <li><a class="peach-orange" href="#">Orange</a></li>
                                                <li><a class="mona-lisa active" href="#">lisa</a></li>
                                                <li><a class="cupid" href="#">cupid</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pro-details-size">
                                        <span>Size:</span>
                                        <div class="pro-details-size-content">
                                            <ul>
                                                <li><a href="#">XS</a></li>
                                                <li><a href="#">S</a></li>
                                                <li><a href="#">M</a></li>
                                                <li><a href="#">L</a></li>
                                                <li><a href="#">XL</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pro-details-quality">
                                        <span>Quantity:</span>
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                        </div>
                                    </div>
                                    <div class="product-details-meta">
                                        <ul>
                                            <li><span>Categories:</span> <a href="#">Woman,</a> <a href="#">Dress,</a> <a href="#">T-Shirt</a></li>
                                            <li><span>Tag: </span> <a href="#">Fashion,</a> <a href="#">Mentone</a> , <a href="#">Texas</a></li>
                                        </ul>
                                    </div>
                                    <div class="pro-details-action-wrap">
                                        <div class="pro-details-add-to-cart">
                                            <a title="Add to Cart" href="#">Add To Cart </a>
                                        </div>
                                        <div class="pro-details-action">
                                            <a title="Add to Wishlist" href="#"><i class="icon-heart"></i></a>
                                            <a title="Add to Compare" href="#"><i class="icon-refresh"></i></a>
                                            <a class="social" title="Social" href="#"><i class="icon-share"></i></a>
                                            <div class="product-dec-social">
                                                <a class="facebook" title="Facebook" href="#"><i class="icon-social-facebook"></i></a>
                                                <a class="twitter" title="Twitter" href="#"><i class="icon-social-twitter"></i></a>
                                                <a class="instagram" title="Instagram" href="#"><i class="icon-social-instagram"></i></a>
                                                <a class="pinterest" title="Pinterest" href="#"><i class="icon-social-pinterest"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Modal end -->
    </div>

    <!-- All JS is here
============================================ -->
<%- include('../partials/userfooter.ejs') -%>



